[submodule "bundle/Hemisu"]
	path = bundle/Hemisu
	url = https://github.com/noahfrederick/Hemisu.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
